$radius-0: 4px;
$radius-1: 8px;
$radius-2: 12px;
$radius-3: 16px;

$size-1: 8px;
$size-2: 12px;
$size-3: 14px;
$size-4: 16px;
$size-5: 20px;
$size-6: 24px;

$color-main: #2589ff;
$color-green: #58ff25;

$color-white-001: hsla(0, 0%, 100%, 0.01);
$color-white-003: hsla(0, 0%, 100%, 0.03);
$color-white-005: hsla(0, 0%, 100%, 0.05);
$color-white-006: hsla(0, 0%, 100%, 0.06);
$color-white-007: hsla(0, 0%, 100%, 0.07);
$color-white-010: hsla(0, 0%, 100%, 0.1);
$color-white-020: hsla(0, 0%, 100%, 0.2);
$color-white-040: hsla(0, 0%, 100%, 0.4);
$color-white-060: hsla(0, 0%, 100%, 0.6);
$color-white-080: hsla(0, 0%, 100%, 0.8);
$color-white-100: #fff;

$color-main: #2589ff;
$color-red: #fd5b5d;
$color-green: #38e2b3;
$color-green-dark: #00a376;
$color-green-darker: #008761;
$color-purple: #915eff;
$color-purple-bright: #d680ff;
$color-purple-dark: #7448d4;
$color-pink: #ff5daa;
$color-yellow: #ffb221;
$color-blue: #2b99ff;

$space-0: 0;
$space-1: 4px;
$space-2: 8px;
$space-2-b: 12px;
$space-3: 16px;
$space-4: 32px;

$color-foreground-elevation-1: $color-white-003;
$color-foreground-elevation-2: $color-white-006;
$color-foreground-elevation-3: $color-white-010;
$color-foreground-elevation-4: $color-white-020;

$color-ui-bg: #121316;
$color-ui-bg-hover: #191a1d;
